*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.imag{
    background: rgb(197, 194, 194);
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}
.Menu{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    justify-content: flex-end;
    margin: 30px 0px 0px 100px;
    justify-content: space-around;
    list-style: none;
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    margin: 0px 100vh 50px 50px
}
.left{
    background: black;
    display: flex;
    flex-direction: row;
    text-align: right;
    align-content: flex-end;
    height: 70vh;
    width: 202vh;
}
.img_home{
    display: flex;
    margin: 0px 10px 0px opx;
    height: 450px;
    width: 85vh;
    align-items: flex-start ;
    justify-content: center;
    margin: 100px 100px 100px 10vh;
}
.texto{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70vh;  
    padding: 0;
    margin: 100px 0px 500px 400px;
}
h1{
    display: flex;
    
    color: #e58f00;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 80px;
    align-items: center;
    width: 600px;
    height: 15vh;
    flex-direction: row;
    margin: 10px 100vh 0px 0px;
}
.primer_parrafo_pg_1{
    display: flex;
    height: 3vh;
    width: 600px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    justify-content: start;
}
.segundo_parrafo_pg_1{
    display: flex;
    height: 3vh;
    width: 600px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    justify-content: start;
    margin: 0px 0px 30px 0px;
}
.boton{
    height: 60px;
    width: 200px;
    background: rgb(250, 121, 0) ;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    font-size: larger;
    color: white;   
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s; 
}
.boton:active {
    background: rgba(230, 100, 0, 0.37); /* Cambia el color cuando se presiona */
    box-shadow: none; /* Elimina la sombra cuando se presiona */
}