*{
    margin: 0;
    padding: 0;
}
.container_1{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.imag_1{
    background: rgb(197, 194, 194);
    height: 35px;
    width: 99.1%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}
.menu_superior{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    justify-content: flex-end;
    margin: 30px 0px 0px 100px;
    justify-content: space-around;
    list-style: none;
}
.foods{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    margin: 0px 100vh 50px 50px;
    color: #e58f00;
}
#home{
    height: 60px;
    width: 100px;
    background: black ;
    border: black;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: medium;
    color: white;   
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s; 
}
#home:active{
    background-color: rgba(197, 194, 194, 0);
    color: red;
    box-shadow: none;
}
#about{
    height: 60px;
    width: 100px;
    background: black ;
    border: black;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: medium;
    color: white;   
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s; 
}
#about:active{
    background-color: rgba(197, 194, 194, 0);
    color: red;
    box-shadow: none;
}
#menu{
    height: 60px;
    width: 100px;
    background: black ;
    border: black;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: medium;
    color: white;   
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s; 
}
#menu:active{
    background-color: rgba(197, 194, 194, 0);
    color: red;
    box-shadow: none;
}
#service{
    height: 60px;
    width: 100px;
    background: black ;
    border: black;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: medium;
    color: white;   
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s; 
}
#service:active{
    background-color: rgba(197, 194, 194, 0);
    color: red;
    box-shadow: none;
}
#contact{
    height: 60px;
    width: 100px;
    background: black ;
    border: black;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: medium;
    color: white;   
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s; 
}
#contact:active{
    background-color: rgba(197, 194, 194, 0);
    color: red;
    box-shadow: none;
}
.home{
    background: black;
    display: flex;  
    flex-direction: row;
    text-align: right;
    align-content: flex-end;
    height: 70vh;
    width: 201vh;
}
.img_home{
    display: flex;
    margin: 0px 10px 0px opx;
    height: 450px;
    width: 85vh;
    align-items: flex-start ;
    justify-content: center;
    margin: 100px 100px 100px 10vh;
}
.texto{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70vh;  
    padding: 0;
    margin: 100px 0px 500px 400px;
}
.Titulo_pag_1{
    display: flex;
    color: #e58f00;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 80px;
    align-items: center;
    width: 600px;
    height: 15vh;
    flex-direction: row;
    margin: 10px 100vh 0px 0px;
}
.primer_parrafo_pg_1{
    display: flex;
    height: 3vh;
    width: 600px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    justify-content: start;
}
.segundo_parrafo_pg_1{
    display: flex;
    height: 3vh;
    width: 600px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 30px;
    justify-content: start;
    margin: 0px 0px 30px 0px;
}
.boton_pag_1{
    height: 60px;
    width: 200px;
    background: rgb(250, 121, 0) ;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    font-size: larger;
    color: white;   
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s; 
}
.boton_pag_1:active {
    background: rgba(230, 100, 0, 0.37); /* Cambia el color cuando se presiona */
    box-shadow: none; /* Elimina la sombra cuando se presiona */
}

/*Segunda Pagina*/

.container_2{
    height: 100vh;
    width: 100%;
    background-color:blue;
    display: flex;
    flex-wrap: wrap;
}
.caja_pg_2{
    display: flex;
    width: 100%;
    height: 100vh;
    background: black;
    flex-direction: row-reverse;
}
.texto_pag_2{
    display: flex;
    height: 50vh;
    width: 70vh;  
    padding: 0;
    margin: 200px 0px 500px 100px;
}
.About{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 0 0 35px 0;
    color: #e58f00;
}
.titulo_pag_2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    margin: 0 0 35px 0;
    width: 45vh;
    color: white;
}
.parrafo_pag_2{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 0 0 35px 0;
    width: 40vh;
    color: white;
}
.boton_pag_2{
    height: 50px;
    width: 170px;
    background: rgb(250, 121, 0) ;
    box-shadow:  0px 2px 4px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    font-size: larger;
    color: white;   
    cursor: pointer;
    transition: background-color 0.5s, box-shadow 0.5s;
}
.boton_pag_2:active {
    background: rgba(230, 100, 0, 0.37); /* Cambia el color cuando se presiona */
    box-shadow: none; /* Elimina la sombra cuando se presiona */
}
.img_pag_2{
    width: 80vh;
    height: 80vh;
    margin: 40px 100px 0 0;
}

/* Tercera Pagina */

.container_3{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
.caja_pg_3{
    display: flex;
    width: 100%;
    height: 100vh;
    background: black;
    flex-direction: column;
    align-items: center;
}
.food_menu{
    display: flex;
    color: rgb(250, 121, 0) ;
    height: 40px;
    background: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    justify-content: center;
    margin: 60px 10px 20px 0;
}
.titulo_pag_3{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    margin: 0 0 35px 0;
    width: 700px;
    color: white;
    background: black;
    justify-content: center;
}
.contenedor_imagenes{
    display: flex;
    background: black;
    height: 60vh;
    width: 160vh;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0
}
.caja_food{
    display: flex;
    background: rgb(235, 218, 188);
    width:  45vh;
    height: 45vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: double;
    border-color: #e58f00;

}
.food_img{
    display: flex;
    height: 30vh;
    margin: 10px;
    align-content: center;
    align-items: center;
}
.food_img3{
    display: flex;
    height: 30vh;
    margin: 10px;
    align-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}
.texto_caja{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
}
.tasty_pg{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}
.precio{
    color: #e58f00;
    font-weight: bolder;
}